---
import Document from "../layouts/Document.astro";
---

<Document
  title="Not found! Sorry"
  description="Lorem ipsum dolor sit amet"
  pubDate={new Date("August 08 2021")}
  heroImage="/blog-placeholder-about.jpg"
>
  <main>
    <h1>Not Found</h1>

    <a href="/">Go back home!</a>
  </main>
</Document>
